html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,em,font,img,strong,object,iframe,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,table,tbody,tr,th,td {margin: 0;padding: 0;border: 0;outline: 0;text-align: left;}
ol,ul {list-style: none;}
body {font-family: Arial, Helvetica, sans-serif;font-size: 12px;text-align: center;color:#4c4c4c;background: #fff;}
a {color: #2864B4;text-decoration: none;}
a:hover,a:focus {text-decoration: underline;}
.clear {float: none;clear: both;}
#container {float: none;clear: both;width: 980px;margin: 0 auto;}
#content {float: left;border-bottom: 4px solid #000;padding: 0 10px 20px;}


#content div {overflow:hidden;font-family:arial;font-size-adjust:none; font-style:normal;font-variant:normal;font-weight:normal;}

#statarea {width:646px;border-bottom:1px solid #eaeaea;float:left;}
#content #totalstations {color:#deac2f;font-size:24pt;float:left;}
#content #titletext h1 {font-weight:normal;font-weight:normal;font-size:24pt;margin-left:10px;float:left;}
#content #jointext {width:100%;padding:7px 0px 20px;font-size:19px;float:left;}
#clutterBuster {float:left;overflow:visible;width: 948px;margin: 0 16px 10px 16px;z-index: 999999999;}
.accenttext {font-weight:bold}
#dlzone{width:658px;margin-top:20px;float:left;font-size:14px;}
#dlzone div img {display:inline;float:left;}
.dl {display:inline;float:left;width:206px;height:164px;padding-right:13px;}
.dl img {padding:9px;border:1px solid #eaeaea;}
.dl a {color:#2762ae;text-decoration:none;font-weight:normal;}
.dl p {display:inline;float:left;margin:0px;padding:0px;padding-left:12px;margin-top:10px;border:0px solid blue;}
#liststream {margin-right:5px !important;}
#leftnavzone {display:inline;float:left;width:150px;min-height:675px;border:0px solid red;font-size:1.3em;font-weight:normal;}

.playimage {border:0px;width:24px;height:24px;display:inline;float:left;margin-left:11px;margin-right:11px;background: url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common.png") no-repeat scroll 0 -394px transparent;}
a.playimage:hover{opacity:.5;filter: alpha(opacity = 50);}

/*.playbutton {border:0px;width:24px;height:24px;display:inline;float:left;margin-left:11px;margin-right:11px;background: url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common.png") no-repeat scroll 0 -394px transparent;}
a.playbutton:hover{opacity:.5;filter: alpha(opacity = 50);}
*/
/*.playbutton1 {border:0px;width:24px;height:24px;display:inline;float:left;margin-left:11px;margin-right:11px;background-image:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/blue_play_button.png);}
a.playbutton1:hover{opacity:.5;filter: alpha(opacity = 50);}
*/
#stationresults {padding-left:8px;width:799px;border-left:solid 1px #cccccc;float:left;font-size:14px;overflow:visible !important;}
.clickabletitle {display:inline;float:left;height:18px;white-space:nowrap;font-weight:bold;overflow-x:hidden;}
.clickabletitleGenre {display:inline;float:left;width:480px;height:18px;white-space:nowrap;font-weight:bold;overflow-x:hidden;}

#navandtable {display:inline;float:left;width:962px;overflow:hidden;margin-top:1px;overflow:visible !important;}
#topzone {float:left;width:962px;}
#adDiv {display:inline;float:right;width:300px;height:250px;border:0px solid red;}
#adDivOthers{float:right;width:300px;height:250px;}
.adbannertop{background:#e4e4e4;width:980px;}
.adbannertop #adsDiv0 {margin:0px auto;width:728px;height:90px;padding:6px 0px;text-align: center;}




#GH_ #GH_search_field {padding: 10px 0 7px 13px;}
#radiopicker {color:#2963b4;display:inline;}
#radiopicker a{font-size:12px;}
#homenav {display:inline;float:left;padding-left:0px;margin-bottom:20px;line-height:30px;margin-left:0px;width:150px;}
#homenav li {display:inline;float:left;width:100%;}
#homebutton{font-weight:bold;height: 29px;background: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/sc-nav-sprint.gif) 6px -6px;padding-left: 28px;font-size:14px;}
#homebutton1{font-weight:bold;color:#FFF;display:block;background: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/sc-nav-sprint.gif) -229px 0px;padding-left:28px;font-size:14px;}
#content #tableheadtext {display:inline;float:left;font-weight:normal;color:#000;font-size:1.6em;margin-right:10px;margin-bottom:10px;padding-left:10px;width:620px;}
#content #tableheadtext h1 {display:inline;float:left;font-weight:normal;color:#000;font-size:26px;margin-right:10px;margin-bottom:1px;padding-left:10px;width:750px;}
#content #tableheadtext h2{display:inline;float:left;font-weight:normal;color:#000;font-size:22px;margin-right:10px;margin-bottom:10px;padding-left:10px;width:750px;}
#settingsbutton{font-weight:bold;height: 29px;background: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/sc-nav-sprint.gif) 6px 23px;padding-left: 28px;font-size:14px;}
#settingsbutton1{font-weight:bold;color:#FFF;display:block;background: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/sc-nav-sprint.gif) -229px 29px;padding-left:28px;font-size:14px;}

.dirhead{cursor:pointer;background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/longheadergradient.gif);font-size:8pt;font-weight:bold;border-bottom:none !important;height:30px;width:798px;float:left;}
#content .dirhead div{font-weight:bold;font-size:11px;display:inline;border-right:1px solid #bababa;margin-top:0px !important;margin-bottom:0px !important;height:27px;line-height:2.5em !important;text-transform:uppercase;}
.dirhead div:hover{background:url("http://www.blogsmithmedia.com/www.shoutcast.com/media/sortinggradient.gif") repeat scroll 0 0 transparent;}
.dirheadOuter{float:left;padding-left:8px;_padding-left:10px;border-left:solid 1px #cccccc;width:800px;}
.dirgenreup{background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/uparrowheader.gif) no-repeat;}
.dirgenredown{background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/downarrowheader.gif) no-repeat;}

.dirheadsta{width:428px;float:left;}
.dirheadgenre{width:102px;float:left;}
.dirheadlist{width:92px;float:left;}
.dirheadbit{width:87px;float:left;}
.dirheadtyp{width:84px;float:left;border-right:0px;}

.dirheadbg{background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/sortinggradient.gif) repeat;}


.dirheadsta1{background-position: 62px 11px;padding-left:12px;display:inline-block;width:100%;}
.dirheadgenre1{background-position:53px 11px;padding-left:12px;display:inline-block;width:100%;}
.dirheadlist1{background-position:76px 11px;padding-left:12px;display:inline-block;width:100%;}
.dirheadbit1{background-position:63px 11px;padding-left:12px;display:inline-block;width:100%;}
.dirheadtyp1{background-position:53px 11px;padding-left:12px;display:inline-block;width:100%;}

.stationcol {line-height:1em;position:relative;display:inline;float:left;width:425px;}
.playingtext {display:inline;float:left;width:370px;height:16px;}
.playingtextGenre {display:inline;float:left;width:480px;height:16px;}

.dirlist{padding:16px 0px;border-bottom:solid 1px #ccc;width:798px;height:34px;}
.dirspacer{background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/longheadergradient.gif) repeat-y;width:1px;height:25px;float:left;}

.dirgenre{padding-left:12px;width:86px;height:16px;float:left;overflow:hidden !important;margin-right:5px;}
.dirlistners{padding-left:12px;width:77px;height:16px;float:left;}
.dirbitrate{padding-left:12px;width:76px;height:16px;float:left;}
.dirtype{padding-left:12px;width:60px;height:16px;float:left;}


#radiopicker ul li li{background:none;padding-left:0px;width:138px;}
.arrowdown{overflow:hidden;background:url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common.png") no-repeat scroll 1px -303px transparent;padding:5px 0px 2px 10px;cursor:pointer;width:5px;height:7px;float:left;}
.arrowup{overflow:hidden;background:url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common.png") no-repeat scroll 2px -346px transparent;padding:4px 0 2px 10px;cursor:pointer;width:5px;height:8px;float:left;}
#container .crosspromo{border-top:0px;float:left;}
#radiopicker ul ul{padding-left:17px;}
#radiopicker li{line-height:20px;cursor:pointer;padding-left:2px;}
.arrow{overflow:hidden;width:15px;height:15px;padding:0px;background:none;float:left;}

.followus{width:294px;margin-top:10px;margin-left:10px;margin-bottom:5px;float:left;}
#topzone .followus .followusTxt{float:none;}
.followus .followusTxt h3{font-size:15px;margin:0px;line-height:20px;text-transform:uppercase;border-bottom:solid 3px #4C4C4C;letter-spacing:-0.05em;word-spacing:0.1em}
.followus .followusLink{height:40px;margin:5px 0px 0px 0px;}
.followus .followusLink a{cursor:pointer;border-right:solid 1px #ebe1d5;background : url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common.png") no-repeat scroll 0 0 transparent;height:45px;float:left;}
.followus .followusLink  a{line-height:42px;font-size:12px;}
.followus .followusLink .followusFacebook{background-position : 0 -458px;margin-right:5px;padding:0px 9px 0px 37px;}
.followus .followusLink .followusTwitter{background-position:0 -536px;margin-right:5px; padding:0px 9px 0px 47px;}
.followus .followusLink .followusRSS{background-position:0 -614px;padding:0px 0px 0px 37px;border-right:none;}

#leftnavzone .genrefilter{float:left;width:150px;font-weight:bold;color:#000;font-size:12px;}
.genrefilter input{margin-right:6px;}
.genrefilter p{height:25px;}
.genrefilter ul{margin-bottom:25px;color:#2963B4;}
.genrefilter li{height:22px;}

#resulttable{width:100%;float:left;}
#resulttable li{list-style:disc inside none;}
#resulttable ul{clear:left;margin-left:25px;}
.newStations {margin-bottom:12px;width:130px;color:#2963b4;white-space:nowrap;}
.newStations a{font-size:13px;}
.newStations li{line-height:20px;}
.newStations h2, #radiopicker h2{color:#000;font-weight:bold;font-size:16px;}
#radiopicker p{color:#000;font-weight:bold;font-size:16px;}
.showmore{width:796px;margin-top:12px;cursor:pointer;float:left;}
.showmorecenter span{width:100px;margin:auto;display:block;margin-top:16px;text-transform:uppercase;font-weight:bold;color:#2963B4;}
.ajaxloader{background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/ajax-loader.gif);width:33px;height:33px;margin:20px auto auto;}
#showmorehome .ajaxloadersmall{background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/ajax-loader-small.gif);width:16px;height:16px;}
.ajaxloadergenre{background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/ajax-loader-small.gif) no-repeat right;width:16px;height:14px;display:inline-block;}



.showmoreleft{width:4px;height:47px;background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/showmoreleft.gif) no-repeat;float:left;}
.showmorecenter{width:785px;height:47px;background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/showmorecenter.gif) repeat;float:left}
.showmoreright{width:4px;height:47px;background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/showmoreright.gif) no-repeat;float:left;}

.genreSelected{background : url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common.png") no-repeat scroll 0 -789px transparent;width:134px;}
.prigen a{font-weight:bold;}
.secgen a{font-weight:normal;}
.secgen_a{font-weight:normal;}
.secgen_a1{font-weight:normal;}
.hideClass{display:none;}
.showClass{display:block;}


.partner_main .partnerfontstyle{font-family: Arial;font-weight: normal; font-size: 12px !important;color:#000;}
.partner_main .padd{padding: 10px 0 5px;}

.partner_main .partner_container{width: 475px; float: left;}
.partner_main  .partner_heading{font-weight: bold; font-size: 25px;}


.partner_main .radio_partner{width: 475px;border-bottom: 1px solid #CCC; float: left;}
.partner_main  .playstation{width: 217px; float: left;border-right: 1px dotted #CCC;}
.partner_main .mylo{width: 227px;  float: right !important; }
.partner_main  .partnername{color: #244EA4; font-weight: bold; padding : 0px 0px 0px 0px; font-size: 13px;}

.partner_main  .partnertext{padding: 5px 25px 5px 0px;font-size:12px;}
.partner_main  .partnerlink{padding: 0px 0px 12px 0px;}

#content .partner_main  a {text-decoration: none;color:#244EA4;font-size:12px;}
a:hover{text-decoration: underline;}

.partner_main   .become_a_partner{width:475px;float: left;}
.partner_main  .info{width: 299px;float:left;font-weight: bold; padding: 8px 0px 8px 12px;}
.partner_main  .become_button{width: 161px; float: right; padding:15px 7px 14px 5px; }



.partner_main  .partner_part{width: 475px; float: left;border-bottom: 1px solid #CCC;}
.partner_main  .partner_image{width:115px; float:left; padding : 8px 0px 0px 0px; }
.partner_main  .partner_content{width:355px; float:right !important; padding: 3px opx 0px 5px; }

.partner_main  .playstation a{font-style:normal;}
.partnerContent .scontwitter{float:left;font-size:12px !important;width:300px;margin-left:10px;margin-top:10px;} 
.partnerContent h1{font-size:26px;font-weight:bold;}
.scontwitter h2{border-bottom:solid 3px;background:url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common.png") no-repeat scroll 260px -219px transparent;font-size:19px;}
.scontwitter li{border-bottom:dotted 1px;list-style:none;float:left;margin-bottom:4px;font-size:12px !important;line-height:18px;}
.scontwitter img{float:left;margin-right:6px;}
.scontwitter p{margin:0px; padding:0px;width:250px;float:left;}
.scontwitter ul{margin:0px; padding:0px;}
.scontwitter .twtr-hd {padding:3px 0;}
.twittertime{text-indent:43px;color:#b0b0b0;}
.twitterfeed{float:none !important;width:250px;margin:auto;cursor:pointer;}
.twitterLeft{width:18px;height:36px;background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/twitterLeft.jpg) no-repeat;}
.twitterMiddle{width:200px;height:36px;background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/twitterMiddle.jpg) repeat;line-height:30px;color:#244EA4;font-weight:bold !important;font-size:12px !important;text-align:center;}
.twitterRight{width:18px;height:36px;background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/twitterRight.gif) no-repeat;}



.faq_main{ width:480px;border-right: 1px solid #CCC;border-left: 1px solid #CCC;float: left;padding:0px 10px; }
.fonstyle{font-family: Arial;font-weight: normal;}
.faq_main  .padd_main{padding: 0px 10px 10px 10px; float: left;width:460px;}
.faq_main  .bottom_border{ border-bottom: 1px solid #CCCCCC;  padding: 0px 10px 10px 0px;width:470px; }
.faq_main  .text_padd{font-weight: bold; padding: 0px 12px 0px 0px; }
.faq_main .heading{font-weight: bold; font-size: 14px; padding: 10px 0px 5px 0px;}
.faq_main .tab_main{margin: 10px 0px 0px 0px;  float: left;font-size:11px;width:100%;}
.faq_main .first_div{ float: left; list-style: none; overflow: hidden; padding: 0px 0px 0px 0px;cursor:pointer;}
.faq_main .left_round{float: left; background-image: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/left-blue.jpg); height: 33px; width: 3px;}
.faq_main .image{background-repeat:repeat-x; float: left; background-image: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/middle-blue.jpg); height: 15px; padding :9px 14px; color: #FFFFFF;}
.faq_main .right_round{ float: left; background-image: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/right-blue.jpg); height: 33px; width: 3px;}
.faq_main .selected1{float: left; background-image: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/wt-left.JPG); height: 33px; width: 3px; }
.faq_main .selected{background-repeat:repeat-x; float: left; background-image: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/wt-center.jpg); height: 14px; color: #000;  padding :9px 14px;border-top: 1px solid #CCC;}
.faq_main .selected2{float: left;width: 4px; height: 33px; background-image: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/wt-right.jpg);}
.faq_main .div_padd{padding: 0px 0px 0px 0px;}
.faq_main .div_padd1{padding: 0px 0px 0px 0px;}
.faq_main .question{font-weight: bold; padding : 10px 0px 5px 0px; font-size: 13px;}
.faq_main  .blue_color{color: #244EA4; text-decoration: none;}
.faq_main  .text{padding: 5px 10px 5px 0px;line-height:18px;}
.faq_main  .ul_padd{padding: 0px 0px 10px 25px;width:400px;}
.faq_main  .padd_main1{padding: 10px 15px 10px 8px; float: left;}
.faq_main a:hover{text-decoration: underline;}
.faq_main .image:hover{text-decoration:underline;}
.border_extra {border-bottom:1px solid #CCCCCC;height:32px;width:auto;}
.head_border{border-bottom: 3px solid #4C4C4C; width: auto;}
#trouble, #faq, #more_info{height:400px;}

#channelInformation{list-style-type:none;overflow:hidden;width:100%;border:solid 1px #d8d8d8; padding:15px 0; font-size:11px; line-height:14px; color:#2865b6; background:#f0f0f0;}
#channelInformation h4{overflow:hidden; height:22px;font-size:13px;  font-weight:bold;color:#666;}
#channelInformation a{color:#2865b6;white-space:nowrap;}
#channelInformation a:hover{text-decoration:underline;}
#channelInformation .chInfoSpotlight{float:left; overflow:hidden; width:160px; height:100%; border-right:0px solid #ccc;}
#channelInformation .chInfoSpotlight1{border:0px;}
#channelInformation .first{border-right: 1px solid #CCC;}
.chInfoSpotlight li{padding-left:25px;_padding-left:12px;}
.chInfoSpotlight h4{padding-left:25px;}
#channelFooter{background:#e2e2e2;overflow:hidden; width:962px; padding:15px 10px 15px; font-size:11px; color:#000}
#channelFooter .chFtrLinks{float:left; overflow:hidden; background :url("http://o.aolcdn.com/dims/BLCK/3/120/30/70/http://o.aolcdn.com/os/shoutcast/aol-radio.png") no-repeat scroll 0 0 transparent;width:114px;height:30px;margin-top:10px;}
#channelFooter .chFtrsLegal .rightsres{text-align:right;}
#channelFooter .chFtrsLegal li{display:inline;border-right:1px solid #3f6fb7; padding:0 5px}
#channelFooter .chFtrsLegal .chFtrsLegalLast{border-right:none; padding-right:0}
div.crosspromo{overflow:hidden; width:980px;border-top: 4px solid #000; font-size:11px; color:#000}
.crosspromo .crosshdr{padding:12px 0; border-bottom:1px solid #ccc}
.crosspromo .crosshdr h3{font-size:12px; font-weight:bold; text-transform:uppercase}
.chFtrsLegal{color:#666;float:right;}
.crosspromo div.body {padding-top:0;color:#000;*height:1%;}
.crosspromo div.body h4  {color:#000;}
.crosspromo div.body img {display:inline;margin:0;border:none;padding:0;}
#cpbody{width:1000px; overflow:hidden; margin-bottom:15px}
#cpbody .cartridge{float:left; width:135px; margin-right:30px}
#cpbody .body h4{float:left;margin:15px 0 10px; font-size:12px; font-weight:bold}
#cpbody .body h4 a{color:#000}
#cpbody .body .icon{float:right; width:17px; margin:15px 0 10px}
#cpbody .body a img{border:2px solid #000}
#cpbody .img_cred{float:none; clear:both; display:block; font-size:9px}
#cpbody .body ul{float:none; clear:both}
#cpbody .body ul li{margin:5px 0}
#footer {border-top:1px solid #D1D1D1;clear:both;font-size:12px;margin:0 auto 25px;overflow:hidden;position:relative;width:978px;background:#FFF;}
#footer .footer-links {-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#FFFFFF none repeat scroll 0 0;}

.twtr-img{width:30px !important;height:30px !important;}


.bottom-bar{width: 100%; position: fixed;bottom:-75px;left:0px; z-index:10000;background-color: #fff;visibility:visible;height:61px;}
.playergradient{height:8px;background: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/playergradient.gif) repeat;opacity:0.9;filter:alpha(opacity=90);bottom:63px;width:100%;position:fixed;}
.bottom-bar-inner{width:100%;float:left;border-top: 1px solid #000000;}
.sc-image{float: left; background-image: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/sc-logo.jpg);background-repeat:no-repeat;height:22px;width:115px;margin: 10px;}
.bar-padd{padding: 0px 15px ;}
.player{float: left; background-image: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/play.jpg); background-repeat:no-repeat;height:48px;width:123px;}
.tit-art{float: left;}
.ul-padd{padding: 0px 25px; list-style: none;line-height:15px;border-left: 1px solid #CCC;border-right: 1px solid #CCC;margin-top: 9px;}
.playercolor{color: #2864B4; text-decoration: none; float: left; font-weight: bold;line-height:48px;font-size: 15px;}
.share{float: left; padding: 23px 10px 0 40px;  }
.click{float: right;background: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/click.jpg) no-repeat;height:18px;width:17px; padding: 2px;margin-right:8px;}
.popUpoutPlayer{float: right;background: url(http://www.blogsmithmedia.com/www.shoutcast.com/media/click.jpg) no-repeat;height:18px;width:17px; padding: 2px;margin-right:8px;cursor:pointer;}

#seconddiv{display: none;height:auto;}
#thirddiv{display: none;height:auto;}
#fourthdiv{display: none;height:auto;}

.padd_main{padding: 10px 0px 10px 6px; float: left;}

.border1{border-bottom: 1px solid #CCC; float: left;width: 4px; height: 32px;}

.slider{float:left;width:474px;height:284px;background:#fff;border:solid 1px #b4b4b4;position:relative;overflow:hidden;margin-top:10px;}
.slider .slider-desc{height:55px;background:#3d3f42;padding:10px;position:absolute;bottom:0px;width:454px;opacity:.7;}
.slider .title{float:left;width:330px;font-family:arial;font-weight:normal;font-size:21px;color:#fff;}
.slider .controls{float:right;margin-top:20px;position:absolute;left:385px;opacity:.7;}
.slider .title1{float:left;font-family:arial;font-weight:normal;font-size:11px;color:#6b6c6d;position:absolute;bottom:5px;}
.slider .left{float:left;width:14px;height:23px;background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/arrowleft.gif) no-repeat;margin:0px 10px 0px 0px;cursor:pointer;}
.slider .pause{float:left;width:16px;height:23px;background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/play.gif) no-repeat;cursor:pointer;}
.slider .play{float:left;width:15px;height:23px;background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/arrowright.gif) no-repeat;cursor:pointer;}
.slider .right{float:left;width:17px;height:23px;background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/arrowright.gif) no-repeat;margin:0px 0px 0px 10px;cursor:pointer;}

.slider img{opacity:0;position:absolute;top:0;}
.slider #img1{opacity:1;}
.slider .active{opacity:1 !important;}

.partner_main{border-right:1px solid #CCCCCC;float:left;width:499px;border-left:1px solid #CCCCCC;}
.partner_main .first_div{ float: left; list-style: none; overflow: hidden;cursor: pointer;}
.partner_main .padd_main{padding: 0px 0px 10px 6px; float: left;width:100%;}
.partner_main .tab_main{padding: 10px 0px 10px 0px;  float: left;width:100%;}
.partner_main .left_round{float: left; background-image: url("http://www.blogsmithmedia.com/www.shoutcast.com/media/left-blue.jpg"); height: 34px; width: 3px;}
.partner_main .image{background-repeat:repeat-x; float: left; background-image: url("http://www.blogsmithmedia.com/www.shoutcast.com/media/middle-blue.jpg"); color: #FFFFFF;  }
.partner_main .right_round{ float: left; background-image: url("http://www.blogsmithmedia.com/www.shoutcast.com/media/right-blue.jpg"); height: 34px; width: 3px;}
.partner_main .selected1{float: left; background-image: url("http://www.blogsmithmedia.com/www.shoutcast.com/media/wt-left.JPG"); height: 34px; width: 3px;  }
.partner_main .selected{background-repeat:repeat-x; float: left; background-image: url("http://www.blogsmithmedia.com/www.shoutcast.com/media/wt-center.jpg"); color: #000; border-top: 1px solid #CCC; }
.partner_main .selected2{float: left;width: 4px; height: 33px; background-image: url("http://www.blogsmithmedia.com/www.shoutcast.com/media/wt-right.jpg");  height: 34px;}
.partner_main .border1{border-bottom: 1px solid #CCC; float: left;width: 4px; height: 33px;}
.partner_main .len-padd{padding:5px 1px; height: 24px; line-height: 13px; text-align: center; }
.partner_main .middle-padd{padding :10px 10px;height: 24px;}
.partner_main .tab1-width{width: 95px;}
.partner_main .tab2-width{width: 164px;}
.tab3-width{width: 75px;}
.partner_main #seconddiv{display: none;}
.partner_main #thirddiv{display: none;}
.partner_main #fourthdiv{display: none;}
.partner_main .tab_main .image:hover{text-decoration:underline;}

.setting_main {border-right:1px solid #CCCCCC;border-left:1px solid #CCCCCC;float:left;padding:0px 10px;width:480px;}
.setting_main .heading{padding:0px 0px 10px 0px;}
.setting_main .question1{font-size:15px;font-weight:bold !important;color:#244EA4;padding: 10px 0px 15px 0px;width:100%;}
.setting_main .method{font-weight:bold !important;padding:10px 0px;border-bottom: 1px dotted #CCC;width:470px;border-top: 3px solid #4C4C4C; width: 480px;}
.setting_main .choice{padding:0px 0px 0px 10px;}
.setting_main .option{padding:0px 0px 5px 0px;width:100%;}
.setting_main .player1{background : url("http://www.blogsmithmedia.com/www.shoutcast.com/media/Settings-sprite.gif") no-repeat scroll 0 0 transparent;width:402px; height:137px; margin:0px 0px 0px 20px;}
.setting_main .head_border{border-bottom: 3px solid #000; width: 470px;}
.setting_main .msg1{margin:0px 40px 10px 0px;}
.setting_main .choice1{padding:0px 0px 0px 10px;width:220px;}
.setting_main .option1{float:left;height:20px;padding:10px 0px 0px 0px;width:100%;}

.setting_main .save{float: left;margin:0px 12px 0px 0px;}
.setting_main .save-button {background : url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common.png") no-repeat scroll -1px -44px transparent;color:#FFFFFF;cursor:pointer;font-weight:bold;height:32px;text-align:center;width:139px;}
.setting_main .cancel-button {background:url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common.png") no-repeat scroll -1px -104px transparent;color:#2350A5;cursor:pointer;font-weight:bold;height:33px;text-align:center;width:92px;}
.setting_main .buttons{float:left;width:480px;padding:20px 0px 20px 20px;border-bottom: 1px solid #CCC;border-top: 1px solid #CCC;margin:10px 0px 0px 0px;background:#F9F9F9;}
.setting_main input{float:left;}
#shareAddthis{margin-top: 23px; float: left; width: 130px;}
.dirbg{background:#e8e8e8;}
.setting_main .strech_player{background:url("http://www.blogsmithmedia.com/www.shoutcast.com/media/Settings-sprite.gif") no-repeat scroll 0 -139px;width:398px; height:85px; margin:0px 0px 30px 20px;}
.heading h2 {font-size:26px;}
#leftnavzone .showingResult {font-size:12px;font-weight:bold;margin-bottom:10px;color:#808080;width:135px;}
#winamp-itunes {padding:20px 0;}
#becomePartner{padding:10px 10px 10px 10px;width:290px;}
#becomePartner .becomePartner_Heading h1{display:inline;font-size:20px;}
#becomePartner .becomePartner_border{border-bottom: 3px solid #4C4C4C; width: 302px;font-size:1px;}
#becomePartner .becomePartner_content{width:300px;float: left;}
#becomePartner .becomePartner_info{width: 299px;float:left;font-weight: bold; padding: 7px 0 5px 1px;}
#becomePartner .becomePartner_button{width: 194px;height:37px; float: left; margin:6px 55px;background:url("http://www.blogsmithmedia.com/www.shoutcast.com/media/become-partner1.jpg") no-repeat scroll 0 0 transparent;}
#becomePartner .becomePartner_button a{display:block;font-size:14px;font-weight:bold;margin-top:10px;text-align:center}

#partnerform_main {border-left:1px solid #CCCCCC;float:left;font-size:12px;padding-left:41px;width:600px;color:#4C4C4C;}
#partnerform_main .heading h1{font-size:26px;font-weight:bold;}
#partnerform_main .head_border {border-bottom:3px solid #4C4C4C;margin:5px 0 15px;width:590px;}
#partnerform_main .tophead_content{font-size:12px;font-weight:bold;}
#partnerform_main .hd2 {margin-top:13px;text-align:left;}
#partnerform_main .hd2 span ul li {list-style-type:disc;margin:0px 0px 15px 20px;size:4px;}
#partnerform_main .form_heading{font-size:16px;font-weight:bold;border-top:1px dotted #CCCCCC;border-bottom:1px dotted #CCCCCC;padding:10px 0;margin-bottom:10px;}
#partnerform_main .view_license{margin-bottom:5px;}
#partnerform_main .view_license .txt1{color:#2864B4;font-weight:bold;float:left;}
#partnerform_main .view_license .txt2{float:right;}
#partnerform_main .fontred{color:#FF0000;padding:0 3px;}
#partnerform_main .form_subheading {border-bottom:1px dotted #CCCCCC;border-top:2px solid #4C4C4C;font-size:14px;font-weight:bold;margin-bottom:10px;padding:5px 0;}
#partnerform_main .licoverview1 {float:left;text-align:left;width:250px;}
#partnerform_main .licoverview2 {float:left;margin-top:4px;padding-left:8px;text-align:left;width:340px;}
#partnerform_main .licmargintxtbx {border:1px solid #CCCCCC;height:20px;margin-top:4px;width:240px;}
#partnerform_main .licmargin {margin-top:9px;}
#partnerform_main .licaddress {height:75px;}
#partnerform_main .licmargintxtarea {height:75px;margin-top:4px;width:290px;border:1px solid #CCCCCC;}
#partnerform_main .lictxtarea {background:none repeat scroll 0 0 #FFFFFF;border:0 none;float:left;font-family:arial;font-size:12px;height:75px;width:290px;}
#partnerform_main .lictimezone {margin-top:35px;}
#partnerform_main .contactno {float:left;width:150px;border:1px solid #CCCCCC;height:19px;margin-top:4px;}
#partnerform_main .licmargintxtbxsml input {float:left;width:140px;}
#partnerform_main .contactno_cnt{float:left;margin-top:4px;width:150px;}
#partnerform_main .descofprod {height:71px;}
#partnerform_main .licmargintxtbx1{border:1px solid #CCCCCC;height:20px;margin-top:4px;width:240px;}
#partnerform_main .licmargintxtbx2{border:1px solid #CCCCCC;height:20px;margin-top:15px;width:240px;}
#partnerform_main .licmargintxtbx3{border:1px solid #CCCCCC;height:20px;margin-top:32px;width:240px;}
#partnerform_main .licmargintxtarea1 {border:1px solid #CCCCCC;height:40px;margin-top:4px;width:290px;}
#partnerform_main .lictxtarea1 {background:none repeat scroll 0 0 #FFFFFF;border:0 none;float:left;font-family:arial;font-size:12px;height:40px;width:290px;}
#partnerform_main .licmargintxtarea2 {border:1px solid #CCCCCC;height:75px;margin-top:4px;width:337px;}
#partnerform_main .lictxtarea2 {background:none repeat scroll 0 0 #FFFFFF;border:0 none;float:left;font-family:arial;font-size:12px;height:75px;width:337px;}
#partnerform_main .integrtxtbx1 {height:24px;margin-top:8px;}
#partnerform_main .bld {font-weight:bold;}
#partnerform_main .verify {height:210px;width:749px;margin-bottom:10p;border-bottom:1px solid #CCCCCC;}
#partnerform_main .form_buttons .save-button {background:url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common-sprite.gif") no-repeat scroll 0 -71px transparent;color:#FFFFFF;cursor:pointer;font-weight:bold;height:32px;text-align:center;width:139px;}
#partnerform_main .form_buttons .cancel-button {background:url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common-sprite.gif") no-repeat scroll -1px -288px transparent;color:#2350A5;cursor:pointer;font-weight:bold;height:32px;text-align:center;width:92px;}
.form_buttons .save{float:left;padding:15px 15px 0px 0px;}
.form_buttons .cancel{float:left;padding:15px 0px; 0px 0px;}
#partnerform_main .agreement{padding:10px 0px 10px 0px;}
#partnerform_main .space{padding:0px 0px 0px 10px;}
#partnerform_main .chk{padding: 5px 0px 0px 0px;}

.errormsg{height:18px;float:left;margin-left:3px;font-size:12px;color:#FF0000;}
.errormsg1{width:172px;height:22px;float:left;margin-left:8px;font-size:12px;color:#FF0000;}
.errormsg .brfontstyle{color:#000;}

#downloadContent {border-left:1px solid #CCCCCC;float:left;font-size:12px;padding-left:12px;width:799px;color:#4C4C4C;}
#downloadContent .heading h1{font-size:26px;font-weight:bold;}
#downloadContent .sub_heading {border-bottom:1px dotted #CCCCCC;border-top:3px solid #4C4C4C;font-size:16px;font-weight:bold;margin:10px 0;padding:10px 0;}
#downloadContent .sub_content_img{background : url("http://www.blogsmithmedia.com/www.shoutcast.com/media/download-radioplayer-sprite.gif") no-repeat scroll 0 -56px transparent;height:177px;width:176px;margin-right:20px;float:left;}
#downloadContent .sub_content_txt{margin-left:20px;width:600px;line-height:18px;}
#downloadContent .iphoned_download {background:none repeat scroll 0 0 #F9F9F9;float:left;margin:10px 0 0;padding:20px;width:555px;}
#downloadContent .download {float:left;margin:0 12px 0 0;}
#downloadContent .download-button {background : url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common.png") no-repeat scroll -1px -43px transparent;color:#FFFFFF;cursor:pointer;font-weight:bold;height:33px;text-align:center;width:139px;display:block;font-size:15px;}
.download-button a{color:#FFFFFF;position:relative;top:9px;}
#downloadContent input:hover{text-decoration:underline;}
#downloadContent .download_txt{margin-top:8px;margin-left:15px;line-height:18px;}
#downloadContent .sub_content{margin-top:15px;margin-bottom:30px;}
#downloadContent .toolbar_img_snap {padding: 25px 20px 24px;background-color:#252525;}
#downloadContent .toolbar_img {background : url("http://o.aolcdn.com/os/winamp/main/images/toolbar-sprite.png") no-repeat scroll 0 0 transparent;height:58px;width:612px;}

#downloadContent .winamp_img {background: url("http://www.blogsmithmedia.com/www.shoutcast.com/media/download-radioplayer-sprite.gif") no-repeat scroll -205px -62px transparent;float:left;height:177px;margin-right:20px;width:176px;}
#downloadContent .toolbar_download{margin-left: 15px;margin-top:20px;}
#downloadContent .toolbar_box1{background:none repeat scroll 0 0 #F9F9F9;float:left;width:155px;height:75px;text-align:center;border-right:1px solid #FFFFFF;}
#downloadContent .toolbar_box_divider{clear:left;border-top:1px solid #FFFFFF;}
#downloadContent .toolbar_box2{background:none repeat scroll 0 0 #F9F9F9;float:left;width:435px;height:75px;text-align:center;border-right:1px solid #FFFFFF;}
#downloadContent .toolbar_txt{margin-top:30px;margin-left:15px;}
#downloadContent .toolbar_txt1{float:left;margin:30px 0px 0px 3px;}
#downloadContent .download_toolbar {float:left;margin:22px 0px 0 8px;}

.featured_stations {background : url("http://www.blogsmithmedia.com/www.shoutcast.com/media/uparrow.png") no-repeat scroll 0 6px transparent;cursor:pointer;float:left;width:12px;height:15px;overflow:hidden;padding:1px 4px 2px 0px;}
.featured_stations1 {background : url("http://www.blogsmithmedia.com/www.shoutcast.com/media/uparrow.png") no-repeat scroll 0 6px transparent;cursor:pointer;float:left;width:12px;height:15px;overflow:hidden;padding:1px 4px 2px 0px;}
.logo_windows{background: url('http://www.blogsmithmedia.com/www.shoutcast.com/media/download-radioplayer-sprite.gif') no-repeat scroll 2px -29px transparent; display: block; float: left; margin-left: 35px; width: 22px; height: 26px; margin-top: 27px;}
.logo_mac{float: left; display: block; width: 22px; height: 26px; margin-left: 35px; margin-top: 24px; background: url('http://www.blogsmithmedia.com/www.shoutcast.com/media/download-radioplayer-sprite.gif') no-repeat scroll -187px -29px transparent;}
.logo_linux{background:url("http://www.blogsmithmedia.com/www.shoutcast.com/media/download-radioplayer-sprite.gif") no-repeat scroll -281px -29px transparent;display:block;float:left;height:26px;margin-left:35px;margin-top:24px;width:22px;}
.see_all_tweets{text-align:center;padding-top:10px;font-weight:bold;background:url('http://www.blogsmithmedia.com/www.shoutcast.com/media/become-partner1.jpg') no-repeat scroll 0 0 transparent;float:left;height:37px;margin:15px 55px;width:194px;}

/*  CSS for Add Station */
#addstationform_main {border-left:1px solid #CCCCCC;float:left;font-size:12px;padding-left:41px;width:760px;color:#4C4C4C;}
#addstationform_main .heading h1{font-size:26px;font-weight:bold;}
#addstationform_main .head_border {border-bottom:3px solid #4C4C4C;margin:5px 0 15px;width:760px;}
#addstationform_main .licmargintxtbx {margin:9px 0 1px 0;overflow:visible;height:75px;}
#addstationform_main .licmargin {margin:10px 0 1px 0;font-weight:bold;height:75px;}
#addstationform_main .licmargintxtbx  input{height:20px;width:260px;border:1px solid #CCCCCC;}
#addstationform_main .licoverview2 {float:left;margin-top:4px;padding-left:8px;text-align:left;width:602px;}
#addstationform_main .licmargintxtdropdown {margin:12px 0 1px 0;font-weight:bold;height:120px;}
#addstationform_main .licmargindropdown {margin:9px 0 1px 0;overflow:visible;height:120px;}
#addstationform_main .licmargindropdown select{width:200px;}
#addstationform_main  #dd_country{width:310px;}
#addstationform_main  #dd_language{width:310px;}
#addstationform_main .view_license{margin-bottom:5px;}
#addstationform_main .view_license .txt1{color:#2864B4;font-weight:bold;float:left;}
#addstationform_main .view_license .txt2{float:right;}
#addstationform_main .fontred{color:#FF0000;padding:0 3px;}
#addstationform_main .form_subheading {border-bottom:1px dotted #CCCCCC;border-top:2px solid #4C4C4C;font-size:14px;font-weight:bold;margin-bottom:10px;padding:5px 0;}
#addstationform_main .licoverview1 {float:left;text-align:left;width:150px;}
#addstationform_main .verify {height:210px;width:749px;margin-bottom:10p;border-bottom:1px solid #CCCCCC;}
#addstationform_main .form_buttons .save-button {background:url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common-sprite.gif") no-repeat scroll 0 -71px transparent;color:#FFFFFF;cursor:pointer;font-weight:bold;height:32px;text-align:center;width:139px;}
#addstationform_main .form_buttons .cancel-button {background:url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common-sprite.gif") no-repeat scroll -1px -288px transparent;color:#2350A5;cursor:pointer;font-weight:bold;height:32px;text-align:center;width:92px;}

/*  CSS for SNS login page */
#snslogin_main {border-left:1px solid #CCCCCC;float:left;font-size:12px;padding-left:41px;width:760px;color:#4C4C4C;}
#snslogin_main .heading h1{font-size:26px;font-weight:bold;}
#snslogin_main .head_border {border-bottom:3px solid #4C4C4C;margin:5px 0 15px;width:760px;}
#snslogin_main .lftsignCont{width:660px}
#snslogin_main .loginUI {padding-top:10px;background:none repeat scroll 0 0 #F0F0F0;border:1px solid #CCCCCC;float:left;height:260px;text-align:center;width:237px;}
#snslogin_main .rgtLogUI {float:right;height:auto;width:390px;}
#snslogin_main .lftsignCont iframe {background:none repeat scroll 0 0 #F0F0F0;}

/*  CSS for Thought Balloon*/
.videoBody{height:100%;}
.videoBody .gridModule{position:relative;float:left;}
.videoBody .gridModule .surrogate{position:relative;}
.videoBody .gridModule .surrogate .thumbnail{position:relative;display:block;margin:0 auto}
.metaLayer{position:absolute;z-index:99999;display:none;width:18.3em;text-align:left;bottom:-4px;_bottom:10px !important;left:-35px;}
.metaLayer .curveTop, .metaLayer .curveBottom{width:100%;height:17px;background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/popup_top.png) no-repeat;display:block;}
.metaLayer .curveTop, .metaLayer .curveBottom, .metaLayer .metaInner{*background-image:none !important;}
.metaLayer .metaInner{width:222px;background:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/popup_middle.png) repeat-y;}
.metaLayer .heading{position:relative;z-index:999;width:80%;margin:0 auto;display:block;font-size:14px;font-weight:bold;}
.metaLayer .curveBottom{height:31px;background-image:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/popup_bottom.png);display:block;}
#stationresults div {overflow:visible;}
.balloon_divider{margin-top:5px;margin-bottom:5px;border-bottom:1px solid #CCCCCC;} 
.metaLayer .div_website{font-size:12px;word-wrap:break-word;}

/*  CSS for Profile page */
#profile_content {border-left:1px solid #CCCCCC;float:left;font-size:12px;padding-left:41px;width:760px;color:#4C4C4C;}
#profile_content .heading h1{font-size:26px;font-weight:bold;}
#profile_content .head_border {border-bottom:3px solid #4C4C4C;margin:5px 0 15px;width:760px;}
#profile_content .profile_inner{width:600px;font-size:12px;}
#profile_content .profile_nav{border-bottom:1px solid #CCCCCC;font-weight:bold;padding-bottom:10px;margin-bottom:20px;}
#profile_content .profile_welcome{float:left;font-weight:bold;font-size:14px;}
#profile_content .welcome_border{border-bottom:3px solid #CCCCCC;margin:10px 0 15px;}
#profile_content .profileDetails div {border-bottom:1px solid #CCCCCC;float:left;padding:7px 0;width:620px;}
#profile_content .profileDetails div span.profileTitle {font-weight:bold;}
#profile_content .profileDetails div span {display:block;padding:0 0 2px 5px;}
#profile_content .btn_space{margin:50px 0;}
#profile_content  .btn_edit{background-image:url(http://www.blogsmithmedia.com/www.shoutcast.com/media/edit.gif);width:61px;height:21px;display:block;}

/*  CSS for My Stations page */
#mystationsContent {border-left:1px solid #CCCCCC;float:left;font-size:12px;padding-left:41px;width:760px;color:#4C4C4C;}
#mystationsContent .heading h1{font-size:26px;font-weight:bold;}
#mystationsContent .head_border {border-bottom:3px solid #4C4C4C;margin:5px 0 15px;width:760px;}
#mystationsContent .download_txt{margin-top:8px;line-height:18px;}
#mystationsContent .toolbar_download{margin-top:20px;}
#mystationsContent .toolbar_box1{background:none repeat scroll 0 0 #F9F9F9;float:left;width:150px;height:75px;text-align:center;border-right:1px solid #FFFFFF;}
#mystationsContent .toolbar_box_divider{clear:left;border-top:1px solid #FFFFFF;}
#mystationsContent .toolbar_box2{background:none repeat scroll 0 0 #F9F9F9;float:left;width:250px;height:75px;text-align:center;border-right:1px solid #FFFFFF;}
#mystationsContent .toolbar_txt{margin-top:15px;margin-left:15px;font-weight:bold;}
#mystationsContent .toolbar_txt1{float:left;margin:30px 0px 0px 3px;width:150px;text-align:center;font-size:14px;}
#mystationsContent .download_toolbar {float:left;margin:22px 0px 0 55px;width:250px;}
#mystationsContent .download-button {background : url("http://www.blogsmithmedia.com/www.shoutcast.com/media/common.png") no-repeat scroll -1px -43px transparent;color:#FFFFFF;cursor:pointer;font-weight:bold;height:33px;text-align:center;width:139px;display:block;font-size:11px;}
.download-button a{color:#FFFFFF;position:relative;top:9px;}
#mystationsContent input:hover{text-decoration:underline;}
#mystationsContent .toolbar_box3{background:none repeat scroll 0 0 #F9F9F9;float:left;width:100px;height:75px;text-align:center;border-right:1px solid #FFFFFF;}
#mystationsContent .toolbar_box2 input{border:1px solid #CCCCCC;height:25px;}
#mystationsContent .toolbar_box3 a {display:block;font-weight:bold;text-align:center;width:100px;text-decoration:underline;}